################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/PruebaExperticket Backend/.vs/PruebaExperticket Backend/FileContentIndex/02935b62-3924-4845-992b-43d277d8987f.vsidx
/PruebaExperticket Backend/.vs/PruebaExperticket Backend/FileContentIndex/40d48fe7-fab5-484f-9c2b-ea670576632c.vsidx
/PruebaExperticket Backend/.vs/PruebaExperticket Backend/FileContentIndex/41300264-f388-47ea-8d32-fba0d14f96dd.vsidx
/PruebaExperticket Backend/.vs/PruebaExperticket Backend/FileContentIndex/94f26e0f-c48f-4ec1-8e7c-63999371b171.vsidx
/PruebaExperticket Backend/.vs/PruebaExperticket Backend/FileContentIndex/9c42f68f-74f7-4b1e-b656-4c75b3a796dc.vsidx
/PruebaExperticket Backend/.vs/PruebaExperticket Backend/FileContentIndex/a6a9fbe7-7ed4-4b57-822a-b127fbecb25d.vsidx
/PruebaExperticket Backend/.vs/PruebaExperticket Backend/FileContentIndex/a6b2d6c1-b435-4c4f-80d2-335780c70b9a.vsidx
/PruebaExperticket Backend/.vs/PruebaExperticket Backend/FileContentIndex/cc054f66-86a5-4ac4-bcd3-f6d175aa5053.vsidx
/PruebaExperticket Backend/.vs/PruebaExperticket Backend/FileContentIndex/cf5b3f83-a5e5-4491-b305-14d347192031.vsidx
/PruebaExperticket Backend/.vs/PruebaExperticket Backend/FileContentIndex/e3453254-7caf-4f69-a05f-111a1d2d39f0.vsidx
/PruebaExperticket Backend/.vs/PruebaExperticket/config
